/*variables------------------------------*/

:root
{
    --primary: #7bed9f;
    --dark: #2ed573;
    --dark-grey: #324355;
    --accent: #2f3542;
    --text: #333;
    --divider: #a4b0be;
    --font-family: 'Mulish', sans-serif;
    --box-shadow: red;
    
}